*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
@property --bgColor{
  syntax: "<color>";
  initial-value:rgb(7, 187, 25);
  inherits: false;
}
@keyframes animationgbColor{
  from{
   --bgColor:red;
  }
  to{
    --bgColor: royalblue;
  }
}
.box{
height: 200px;
width: 300px;
background-color: var(--bgColor);
animation: animationgbColor 5s ;

}
