*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes changeBackgroundColor{
  from{
    background-color: white;
    border-radius: 0px;
    scale: 1;
  }
  to{
    background-color: crimson;
    border-radius: 10px;
    scale: 0.5;
  }
}
.box{
height: 200px;
width: 300px;
background-color: white;
animation: changeBackgroundColor 5s infinite forwards alternate;
}
